In [20]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
import sklearn
from sklearn.model_selection import train_test_split

In [23]:
# import data (just deal with level a for now)
data = pd.read_csv('OLIDv1.0/olid-training-v1.0.tsv', sep='\t', header=0, names=['id', 'tweet', 'subtask_a', 'subtask_b', 'subtask_c'])
data.head()

      id                                              tweet  ... subtask_b subtask_c
0  86426  @USER She should ask a few native Americans wh...  ...       UNT       NaN
1  90194  @USER @USER Go home you’re drunk!!! @USER #MAG...  ...       TIN       IND
2  16820  Amazon is investigating Chinese employees who ...  ...       NaN       NaN
3  62688  @USER Someone should'veTaken" this piece of sh...  ...       UNT       NaN
4  43605  @USER @USER Obama wanted liberals &amp; illega...  ...       NaN       NaN

[5 rows x 5 columns]

In [30]:
# split into training and dev
#
train, dev = sklearn.model_selection.train_test_split(data, test_size=0.1, shuffle=False) # 11916 train, 1324 dev
train.head()

      id                                              tweet  ... subtask_b subtask_c
0  86426  @USER She should ask a few native Americans wh...  ...       UNT       NaN
1  90194  @USER @USER Go home you’re drunk!!! @USER #MAG...  ...       TIN       IND
2  16820  Amazon is investigating Chinese employees who ...  ...       NaN       NaN
3  62688  @USER Someone should'veTaken" this piece of sh...  ...       UNT       NaN
4  43605  @USER @USER Obama wanted liberals &amp; illega...  ...       NaN       NaN

[5 rows x 5 columns]

In [27]:
# naive feature vectors

In [ ]:
# word2vec

In [ ]:
# simple classifiers

In [ ]:
# CNN

In [ ]:
# LSTM

In [ ]:
# introducing spelling errors to data